.App {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #efefef;
}

button {
  border-radius: 0.5rem;
  background-color: #e5e7eb;
  padding: 0.5rem 1rem;
  margin: 1rem 0.5rem 0rem 0rem;
  cursor: pointer;
}
ul {
  padding-inline-start: 0rem;
}

li {
  list-style: none;
  padding: 1rem;
  border: 1px solid #d1d5db;
  width: 70%;
  margin: 1rem 0rem;
  border-radius: 0.5rem;
}
